dotenv

feedparser==6.0.12
trafilatura==2.0.0

langchain==1.0.5
langchain[openai]==1.0.5
langchain-core==1.0.4

fuzzywuzzy==0.18.0

ddgs==9.9.0

tenacity==9.1.2

pandas==2.3.3

fake_useragent==2.2.0

yfinance==0.2.66

tqdm==4.67.1
## server
fastembed==0.7.3
lancedb==0.25.3
langchain-text-splitters==1.0.0
FastAPI==0.121.2
uvicorn[standard]==0.38.0