---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const aboutContent = await getCollection('about');
const enContent = aboutContent.find(item => item.data.language === 'en');

if (!enContent) {
  throw new Error('Missing about content for English');
}

const { Content: EnContent } = await enContent.render();
---

<BaseLayout title="About">
  <div class="cv-container">
    <div class="cv-content">
      <EnContent />
    </div>
  </div>
</BaseLayout>
